<% title 'Configure domain' %>

<% content_for :heading do %>
  Configure your domain
<% end %>

<div class="prose">
  <p>
    Sign into your domain provider
    <% if @registrar&.name && @registrar&.url %>
      <a href="<%= @registrar.url %>" target="_blank" rel="noopener"><%= @registrar.name %></a>
    <% end %>
   and set these DNS values for <span class="record"><%= @account.host(show_unverified: true) %></span>:</p>
</div>

<%= render "domain_record_table" %>

<%= link_to 'Finished adding the records →', next_wizard_path, class: 'btn btn-primary w-full', data: (@account.active_subscription? ? nil : {'turbo': false, action: 'click->upgrade#open'}) %>

<p class="text-gray-700 text-center text-sm">
  <div class="text-center">
    <%= link_to "Do this later", page_path(@account), class: 'link' %>
    or
    <%= link_to "Cancel and start over", request.path, class: 'link', data: { 'turbo-method': :put }  %>
  </div>
</p>